
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>实时新闻</title>
    <meta name="application-name" content="The Next">
    <meta name="applicable-device" content="pc, mobile"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.citve.com/app/news.dengchangdong.com/css/style.min.css?proxied&raw">
    <link rel="alternate" type="application/rss+xml" title="Recent Entries" href="https://news.dengchangdong.com/rss.xml">
  </head>
  <body>
  <section class="container">
    <div class="content">
      <ul class="list"></ul>
    </div>
  </section>
  <script type="text/javascript" src="/page.js"></script>
  </body>
</html>
